<div id="footer">
  <div class="bgBlue">
    <div class="container">
      <a
        href="/contact"
        style="color:white; text-decoration: none; font-weight: 300;"
      >
        <div class="row small-push-top  small-push-bottom">
          <div class="col-xs-12 col-md-4">
            More than <span class="semiBold">100</span> participating restaurants
          </div>
          <div class="col-xs-12 col-md-4 text-center-above-sm">
            More than <span class="semiBold">8000</span> markets with scored products
          </div>
          <div class="col-xs-12 col-md-4 text-right-above-sm">
            More than <span class="semiBold">100'000</span> CO<sub>2</sub>e impacts calculated
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="footer bgDarkBlue">
    <div class="container">
      <div class="row small-push-top small-push-bottom">
        <div class="col-xs-3 col-md-4">
          &copy; {{ site.time | date: '%Y' }} Eaternity Institut |
          <a href="/legal">Legal&nbsp;Notice</a>
          <br />

        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <a href="https://www.linkedin.com/company/eaternity-ag">LinkedIn</a> <a href="http://twitter.com/eaternity">Twitter</a> <a href="http://facebook.com/eaternity/">Facebook</a> <a target="_blank" href="http://instagram.com/eaternity_institute/">Instagram</a>
        </div>
        <div class="col-xs-3 col-md-4 text-center">
          <a href="/contact">
            <button>Contact Us</button>
          </a>
          <!-- {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
          {% for post in posts %}

          <a
            href="{{ post.url }}"
            class="{{ post.lang }} lang"
            style="text-transform:uppercase;"
            >{{ post.lang }}</a
          >
          {% endfor %} -->
        </div>
      </div>
    </div>
  </div>
</div>


<script
  src="/js/bootstrap.min.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script src="/js/icheck.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PZM2GG7LYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PZM2GG7LYC');
</script>


<!-- Start of HubSpot Embed Code -->
<script
  type="text/javascript"
  id="hs-script-loader"
  async
  defer
  src="//js.hs-scripts.com/3448730.js"
></script>
<!-- End of HubSpot Embed Code -->
