
<div id="footer">

<div class="bgBlue">
  <div class="container">

	<div class="row small-push-top  small-push-bottom">
      <div class="col-xs-12 col-md-4">
        <span class="semiBold">74</span> Participating restaurants
      </div>
      <div class="col-xs-12 col-md-4 text-center-above-sm">
        <span class="semiBold">25 468</span> cooked climate-friendly meals
      </div>
      <div class="col-xs-12 col-md-4 text-right-above-sm">
        <span class="semiBold">21 902</span>  reduced emissions of CO<sub>2</sub>e in kg
      </div>
    </div>
  </div>
</div>

<div class="footer bgDarkBlue">
  <div class="container">
    <div class="row small-push-top small-push-bottom">
      <div class="col-xs-3 col-sm-3">
        &copy; {{ site.time | date: '%Y' }} Eaternity | <a href="/legal">Legal&nbsp;Notice</a>
      </div>
      <div class="col-xs-6 col-md-6 text-center">
        <a href="/appetite-for-change">Join us today and reduce emissions in Paris @COP21.</a>
      </div>
      <div class="col-xs-3 col-sm-3 text-right">
	  	{% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
	  				{% for post in posts %}

	  				<a href="{{ post.url }}" class="{{ post.lang }} lang" style="text-transform:uppercase;">{{ post.lang }}</a>

	  	{% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55310589-1', 'auto');
ga('send', 'pageview');

</script>
